body {
    background-color: #333333;
    color: #d1d1d1;
    font-size: 20px;
}

#content {
    padding: 10px;
}

#navigation {
    float: left;
}

#main {
    padding-left: 7%;
    display: inline-block;
}

#pfp {
    height: 10%;
    width: 10%;
}

a {
    color: #949134;
}
a:hover {
    color: #a8a42a;
}

h1 {
    color: #3c915a;
}

h2 {
    color: #3f69a1;
}
