body {
    background-color: black;
    color: white;
    font-family: Constantia, monospace;
}

hr {
    color: white;
}

a {
    color: white;
}

a:hover, li:hover {
    color: orange;
}

li {
    font-size: 20px;
    list-style: none;
}

#content {
    padding: 5%;
}

#hourglass {
    font-size: 500%;
}

#title-text {
    display: inline;
    position: absolute;
    padding-left: 1%;
}

#links {
    font-family: Constantia, monospace;
}

/* info.html */

#autism {
    align-items: center;
    text-align: center;
}

#autism-icon {
    width: 20%;
}
