:root {
    --bg-color: #111824;
    --anchor-color: #426399;
    --anchor-hover-color: #9c5633;
}

body {
    background-color: var(--bg-color);
    color: white;
    overflow: hidden;

    margin: 200px;
}

h1 {
    font-size: 50px;
}

footer {
    text-align: center;
    text-decoration: none;
}

a {
    font-size: 20px;
    color: var(--anchor-color);
}

a:hover {
    color: var(--anchor-hover-color);
}
